<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="gabrielqfr@gmail.com"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournament_tracker" connectionString="Server=DESKTOP-ABT5N9A;Database=Tournament_tracker;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="emailUsername" password="emailPassword" port="995" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>